# Usage (see README.md for details):
# 1. Copy the file.
# 2. Edit to add your own env variables.
# 3. Source it while on the host.
# 4. Start Docker container, loading environment variables into the container.
#
# References:
# 1. https://docs.docker.com/engine/reference/commandline/run/#set-environment-variables--e---env---env-file
# 2. https://docs.aws.amazon.com/cli/latest/userguide/cli-environment.html
# 3. https://docs.aws.amazon.com/cli/latest/topic/config-vars.html

# Access and secret key variables override credentials stored in credential and config files.
AWS_ACCESS_KEY_ID=AWS_access_key_here
AWS_SECRET_ACCESS_KEY=AWS_secret_key

# AWS region. This variable overrides the default region of the in-use profile, if set.
# AWS Device Farm only works in the `us-west-2` region.
# See: https://aws.amazon.com/about-aws/global-infrastructure/regional-product-services/
AWS_DEFAULT_REGION=us-west-2
